html, body {
  margin: 0;
  padding: 0;
  margin-top: -1%;
  color: white;
}

canvas {
  margin: auto;
  display: block;
  margin-top: -37%;
}

p{
  text-align: center;
}

h1{
  margin-top: -60%;
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  font-size: 60px;
  text-align: center;
}

.first{
  margin-top: 0%;
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  font-size: 40px;
}

.second{
  margin-top: 0%;
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  font-size: 40px;
}

.center{
  margin-left: 25%;
  width: 50%;
  height: 1430px;
  background-color: rgb(40, 40, 40);
  align-content: center;
  padding-bottom: -50%;
  padding-top: 50px;
}

.space{
  width: 100%;
  height: 1480px;
  background-color: rgb(210, 210, 210);
  display: block;
  padding-bottom: -50%;
  padding-top: 50px;
}